app = "talktalkrommie-livekit"
primary_region = "iad"

[build]
  image = "livekit/livekit-server:latest"

[experimental]
  cmd = ["/livekit-server", "--config", "/etc/livekit.yaml"]

[[files]]
  guest_path = "/etc/livekit.yaml"
  local_path = "livekit.yaml"

[[services]]
  internal_port = 7880
  protocol = "tcp"
  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]
  [[services.ports]]
    port = 80
    handlers = ["http"]

[[services]]
  internal_port = 7882
  protocol = "udp"
  [[services.ports]]
    port = 7882
